---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const identity = {
	firstName: "Ben",
	city: "Bend",
	state: "Oregon",
	country: "USA",
	occupation: "Full Stack Web Developer",
	hobbies: ["Hiking", "Mountain Biking", "Snowboarding", "Video Games"]
};

const skills = [
	"HTML",
	"CSS",
	"JavaScript",
	"React",
	"Wordpress",
	"Astro",
	"Magento",
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Here's more title</h2>
	{happy && <p>I am happy to be learning Astro!</p>}
	{finished && <p>I have finished this tutorial!</p>}
	{
		goal === 3 ? (
			<p>My goal is to finish in 3 days.</p>
		) : (
			<p>My goal is not 3 days.</p>
		)
	}
	<p>Here's a bit about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.city}, {identity.state}</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					A couple of my hobbies are: {identity.hobbies[0]} and{" "}
					{identity.hobbies[1]}
				</li>
			)
		}
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>
